*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav{
  background-color: rgba(0, 0, 0, 0.938);
  padding: 15px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav div{
  transition: all 1s;
  display: inline;
}

nav .right{
  margin-left: 60vw;
  margin-top: 0;
}

nav .right a{
  margin-right: 5px;
}

.mascot{
  height: 50vh;
  position: absolute;
  bottom: -5px;
  right: 0px;
}

.escudo{
  height: 50vh;
  position: absolute;
  bottom: 60px;
  left: 80px;
  /* padding: 50px; */
  /* height: 50vh;
  display: inline;
  margin: 0 auto;
  float: left; */
}

.main-section{
  height: calc(100vh - 320px);
}

.main-section h2{
  text-align: center;
  margin-top: 20%;
  font-weight: normal;
}

.main-section p{
  transition: all 1s;
  margin-right: 25%;
  margin-left: 30%;
  margin-top: 3%;
  text-align: center;
  font-weight: normal;
}

.main-section button{
  background-color: #F0690E;
  color: white;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  font-size: .75rem;
}

.main-section button:hover{
  cursor: pointer;
}

.secundary-section{
  background-color: black;
  color: white;
  padding: 20px;
}

.secundary-section img{
  height: 50vh;
  display: block;
  margin: 0 auto;
}

.secundary-section h3, .secundary-section p{
  text-align: center;
  margin-top: 20px;
}

.missao-section,.eventos-section{
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  padding: 20px;
  height: 50vh;
}

.missao-section img{
  height: 50vh;
  display: inline;
  margin: 0 auto;
  float: left;
  /*padding: 5px;*/
}

.missao-section h3, .missao-section p{
  display: block;
  text-align: left;
  padding: 20px;

}

.diretoria-section{
  background-color: white;
  color: black;
  padding: 20px;
  height: 50vh;
}

.diretoria-section h3, .eventos-section h3{
  padding: 30px;
  text-align: center;
}

.diretores img{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 1%;
  margin-left: 10%;
  border-radius: 50%;
  transition: all 1s;
}

.eventos-section img{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-top: 1%;
  margin-left: 7%;
  /* border-radius: 50%; */
  transition: all 1s;
  box-shadow: 0px 0px 10px rgba(247, 114, 26, 0.5);
}

.Desenvolvedores{
  position: relative;
  border: 8px, solid white;
  box-shadow: 1px, 1px, 4px white;
}

.Desenvolvedores img{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 1%;
  margin-left: 19%;
  border-radius: 50%;
  transition: all 1s;
}
